[Unit]
Description=Reticulum Network Stack Daemon
After=multi-user.target

[Service]
# If you run Reticulum on WiFi devices,
# or other devices that need some extra
# time to initialise, you might want to
# add a short delay before Reticulum is
# started by systemd:
ExecStartPre=/bin/sleep 2
Type=simple
Restart=always
RestartSec=3
User=rns
Type=simple
ExecStart=/home/rns/reticulum/bin/rnsd --service

[Install]
WantedBy=multi-user.target
